@import '../../static/styles/variables.scss';

.search-field {
  background: $color-gray-light;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  margin-left: 50px;
  margin-top: 20px;

  input {
    border: 0;
    flex: 1;
    padding: 10px;
    background: transparent;
  }
}
