@import '../../static/styles/variables.scss';

.card-feed {
  margin-bottom: 20px;
  box-shadow: 1px 3px 18px -12px rgba(#000, 0.6);
  background: #fff;
  padding: 20px;
  border-radius: 20px;

  &__info {
    display: flex;
  }

  &__avatar {
    min-height: 90px;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 10px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    font-weight: lighter;
    color: $color-gray-text;
    display: flex;
    align-items: center;
    flex-grow: 1;

    strong {
      color: $color-gray-dark;
      font-weight: bold;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    small {
      font-weight: normal;
      font-size: 12px;
      color: $color-gray-text;
    }
  }
}
