@import '../../static/styles/variables.scss';

.update-profile {

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    font-size: 14px;
    font-weight: bold;
    font-size: $color-gray-dark;
    width: 100%;
    text-align: center;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    font-size: 30px;

    input[type='text'],
    select {
      height: 60px;
      border: 0;
      background: transparent;
      width: 100%;
      border-bottom: 1px solid $color-gray;
    }

    input[type='checkbox'] {
      margin-top: 20px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  &__column {
    padding: 10px;
    max-width: 50%;
    width: 50%;
  }

  input[type='checkbox'] {
    display: none;
    &:checked + .card {
        border: 2px solid $color-primary;
    }
  }

  .card {
    font-size: 12px;
    font-weight: lighter;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    transition: border 0.4s;
    border: 2px solid transparent;
  }

  img {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }
}
