@import '../../static/styles/variables.scss';

.company {
  .back-button {
    top: 6px;
    filter: invert(100%) brightness(200%);
  }

  &::before {
    content: '';
    height: 120px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: $color-primary;
    border-radius: 0 0 20px 20px;
  }

  .card {
    border: 0;
  }

  &__about {
    font-weight: normal;
    color: $color-gray-text;
    line-height: 1.7;
    font-size: 14px;
  }

  &__areas {
    margin: 0 -10px;
  }

  &__areas-title {
    margin-top: 20px;
    display: block;
  }

  &__carousel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      max-width: 80px;
      margin-top: 10px;
    }
  }
}

.graybox {
  padding: 10px 20px;
  background: $color-gray-light;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }
}

.company-location {
  color: $color-gray-text;
  font-size: 12px;
}
