.navbar {
  height: 60px;
  background: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 28px -10px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;

  .selected {
    transition: transform .1s linear;
    transform: scale(1.3)
  }
}
