.card-find {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__content {
        margin-left: 10px;
    }

    strong {
      font-size: 30px;
    }

    &__text {
      font-weight: lighter;
      font-size: 20px;
      line-height: 25px;
    }
}

.card-find-wrapper {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 3px 18px -12px rgba(#000, 0.3);
    margin-top: 20px;
}