html,
body,
#root {
  height: 100%;
}

body,
#root {
  min-height: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

img {
  max-width: 100%;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@import './bootstrap-overrides.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import './variables.scss';

.title {
  color: $color-gray-dark;
  font-size: 18px;
  font-weight: bold;
}

.bg {
  background: #fff;
}

.container {
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

.full-height {
  height: inherit;
  display: inherit;
  flex-direction: inherit;
  min-height: inherit;
  height: calc(100vh - 60px);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.input-grouped {
  background: $color-gray-light;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

  .input {
    display: flex;
    flex-direction: column;

    input {
      background: transparent;
      border: 0;
      font-family: inherit;
      padding-top: 10px;
    }
  }
}

.error {
  font-weight: lighter;
  font-size: 12px;
  color: #ea364f;
}

.radio {
  margin-top: 10px;

  .input {
    flex-direction: row-reverse;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    input {
      margin-right: 10px;
    }
  }
}

.scroll {
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 60px;
}