//Color
$color-primary: #00B6C8;
$color-dark-purple: #6048C5;
$color-purple: #7F68DE;
$color-pink: #F94EAE;
$color-rose: #FEF0F9;
$color-cyan: #E4F9FF;
$color-dark-cyan: #6AB2DB;
$color-salmon: #FFEBE0;
$color-gray-light: #F5F6F6;
$color-gray: #D8D8D8;
$color-dark-gray-medium: #C2C2C2;
$color-gray-text: #898989;
$color-gray-dark: #3B3B3D;
$color-bg-dark: #202124;
$color-gradient: linear-gradient(266.29deg, $color-dark-purple -4.37%, $color-dark-cyan 100.86%)