@import '../../../ui/static/styles/variables.scss';
[class^='btn btn-'] {
  outline: none;
  border: none;
  height: 60px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.btn.btn-primary {
  background: $color-primary;

  &:hover, &:active {
    background: darken($color-primary, 4%)!important;
  }
}

.btn.btn-secondary {
  background: #fff;
  color: $color-primary;
  border: 2px solid $color-primary;

  &:hover {
    background: darken(#fff, 20%);
  }
}
